.container {
	width:555px;
	margin-top:10px;
	
}

.row {
	margin-bottom: 15px;
}

.rnumber {
	margin-left:-15px;
}

.random-won-loss {
	margin-left:-10px;
}

.wl-row {
	margin-left:-15px;
	height:30px;
}

.w {
	margin-bottom: 0px;
}

.total-score-field {
	height:100px;
}